<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

</head>

<body class="page">

{% include _browser-upgrade.html %}

<section class="hero is-primary">
  <div class="container">
      <div class="hero-body">
          <h1 class="title is-1">Hi, I'm Sara (:</h1>
          <p class="subtitle is-4">Welcome to my Lede 2023 website!</p>
      </div>
    </div>
</section>


<div id="main" role="main">
  <!-- <div class="container content" style="background-color: #20acac;">
    <h1 class="title is-2" style="color:#ffffff;" >test4</h1>
  </div> -->
  <div class="container">
    <!-- <section class="section"> -->
      <div class="columns content">
        <div class="column is-one-quarter">
          <div class="article-author-side is-centered">
            {% include _author-bio.html %}
          </div>
        </div>
        <div class="column is-three-quarters">
          <article class="page">
            <!-- <h1 style="color:#134D4D;">Welcome to my website!</h1> -->
            <div class="article-wrap">
              {{ content }}
              {% if page.share != false %}
                <hr />
                {% include _social-share.html %}
              {% endif %}
            </div><!-- /.article-wrap -->
            {% if site.owner.disqus-shortname and page.comments == true %}
              <section id="disqus_thread"></section><!-- /#disqus_thread -->
            {% endif %}
          </article>
        </div>  
      </div>
    <!-- </section> -->
  </div>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
